.address {
  display: inline-block;
  color: $white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-text {
  display: block;
  margin-bottom: 9px;
}
/* тел і емеіл в футері */

.footer-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $gray-2;
  text-decoration: none;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  background-color: $background;
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-social {
  margin-left: 70px;
  margin-right: 93px;
}
.footer-social-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin: 0 0 20px;
}
.footer-social .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.subscribe-form-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 20px;
  display: block;
}

.subscribe-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $background;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: $white;
}

.footer-contact:hover,
.footer-contact:focus {
  color: $active-color;
}
